.body {
  text-align: justify;
}

// POSTER
.main-title {
  font-family: $intro-text;
  font-size: 4vw;
  color: $red;
  margin-bottom: 0.25em;
}

h6 {
  font-family: $intro-text;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: $red;
}

hr {
  opacity: 3;
}

.resumen {
  font-family: $intro-text;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 1em;
}

.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 1em;
}

img {
  image-rendering: crisp-edges;
}

blockquote {
  background-color: $gray-200;
  font-family: $quote-text;
  color: $ink;
  margin-top: 2em;
}

.cit {
  text-align: right;
  font-family: $intro-text;
}

@supports (display:grid) {
  @media (min-width: 50em) and (min-height: 27em) {
    .poster {
      max-width: none;
      padding: 0;
      display: grid;
      grid-template-columns: fit-content(28em) calc(2em + 0.5vw) 2fr minmax(10em, max-content) minmax(14em, max-content) minmax(1em, 1fr);
      grid-template-rows: 20vh 10vh 15vh 30vh 20vh;
    }

    h3 {
      grid-column: 1 / 5;
      grid-row: 1;
      z-index: 2;
      padding-left: 0.25em;
      margin-bottom: initial;
    }

    h6 {
      grid-column: 1 / 2;
      grid-row: 2;
      text-align: center;
      align-self: center;
      margin-bottom: initial;
    }

    hr {
      grid-column: 1 / 2;
      grid-row: 3;
      height: 10px;
      width: 20ch;
    }

    .resumen {
      grid-column: 1 / 2;
      grid-row: 3 / 6;
      align-self: center;
      padding-left: 4vh;
      padding-right: 4vh;
      padding-bottom: 4vh;
      margin-bottom: initial;
      text-align: center;
    }

    a {
      grid-column: 5 / 6;
      justify-self: end;
      align-self: center;
      margin-bottom: initial;
    }

    .cover-img {
      grid-column: 2 / 7;
      grid-row: 1 / 6;
    }
  }

  @media (min-width: 48em) and (min-height: 27em) {
    hr {
      opacity: 1;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  blockquote {
    margin-top: 4em;
    margin-left: 8em;
    margin-right: 8em;
    padding: 2em;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  blockquote {
    margin-top: 4em;
    margin-left: 8em;
    margin-right: 8em;
    padding: 2em;
  }
}
